
@{
    ViewData["Title"] = "Hakkımızda";
}

<style>
#Hakkımızda {
        font-weight: bold;
        color: black;
        text-align:left;
        padding: 5px 0;
    }

</style >
<div id="Hakkımızda">

    <h3>Hakkımızda</h3> <br />
</div>



  <p>  Fırtına avcıları; gök gürültülü yağışları, fırtınaları, kasırgaları, hortumları, devasa bulutları kısaca atmosfer kaynaklı ekstrem hava olaylarını kovalayan bir ekiptir. Fırtınaların bilimini ve romantizmini büyük bir heyecanla ve hevesle anlamaya çalışır.</p>

