
#logo {
    position: relative;
    width: 75%;
    left: -70px;
    /* top: -50%; */
    bottom: 70px;
    /*bottom: -120px */
    max-width: 100%;
}

#logo img {
    display: block;
    width: 68%;
    height: 58%;
    object-fit: contain;
    margin: 0 auto;
}

.flashing {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    background: url('/gif/sim.gif');
    background-size: auto 100%;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
}

#toggle-sound-button {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#thunder-audio {
    width: 250px;
    height: 30px;
}

.search {
    position: fixed;
    top: 0px;
    right: -15px;
    z-index: 1000; /* Diğer öğelerin üzerinde olması için yüksek bir z-index değeri kullanılır */
}

.mobile-nav-buttonn {
    display: flex;
}

#trigger-overlay {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: gray;
}


