body {
    font-family: Candara;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2; /*RGB Hex*/
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none; /* Link altý çizgisi kaldýrma */
}

p {
    line-height: 1.6;
}

/* Ziyaret edilmiþ linkler de aqua renkte olacak */
a:visited {
    color: black;
}

/* Link týklanýnca renk yeþile dönecek, ardýndan ziyaret edilmiþ renge geçecek */
a:hover {
    color: #5F9EA0;
}

/* Aktif link rengi (link týklanýrken) olarak da yeþil belirlenmiþtir */
a:active {
    color: green;
}

#header {
    background-image: url('/img/clo.jpg'); /* Resim dosyanýzýn yolunu buraya ekleyin */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-color: #778899;*/ /* #F0FFF0 */
    color: black;
    text-align: center;
    max-width: 100%;
    /*background-attachment: scroll;*/
    /*height: 50vh;*/
    margin: 0px;
}

/*.container {
    position: relative;
    width: 200px;
    *margin: 0 auto;
    text-align: center;
}
*/


/*.sound-icon:hover {
    background-color: #B0C4DE;
    border-radius: 100%;*/ /* Daire þeklinde görünmesini saðlamak için */
/*}*/

/*#toggle-sound-button:hover {
    background-color: #B0C4DE;
  
}
*/

#toggle-sound-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 12px;
    transform: scale(0.7);
}

/*.sound-icon {
    font-size: 22px;
    top: 1px;
}
*/

#logo {
    position: relative;
    top: 0;
    max-width: 100%;
}

    #logo img {
        display: block;
        width: 25%;
        height: auto;
        object-fit: contain;
        margin: 0 auto;
        
    }

        .flashing {
    position: absolute;
    width: 150px; /* Öðenin geniþliði */
    height: 150px; /* Öðenin yüksekliði */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    background: url('/gif/sim.gif'); /* Þimþek efektini içeren bir GIF dosyasý kullanýn */
    background-size: auto 100%;
    z-index: 1;
    opacity: 1; /* Þimþek efekti resminin opaklýðýný ayarlayýn */
    pointer-events: none;

    /*position: relative;
    width: 150px;
    height: 150px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('/gif/sim.gif');
    background-size: contain;
    z-index: 1;*/ /* Flashing efekti arka planda olacak */
    /*opacity: 1;
    pointer-events: none;*/
}



/*.flashing {
    position: relative;
    background-image: url('/gif/sim.gif');
    animation-name: flashHeader;
    animation-duration: 3.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-size: cover;
    width: 100%;*/ /* Gif efektinin geniþliði 100% olacak */
    /*height: 100%;*/ /* Gif efektinin yüksekliði 100% olacak */
    /*z-index: -1;*/ /* Logo'nun önünde, arka planda kalacak */
/*}

@keyframes flashHeader {
    0%   {background-color: #F0FFF0; color: white;}
    25%  {background-color: white;   color: #F0FFF0;}
    50%  {background-color: #F0FFF0; color: white;}
    75%  {background-color: white;   color: #F0FFF0;}
    100% {background-color: #F0FFF0; color: white;}
}*/


/*.wrapper {
    display: grid;
    place-items: center;
}*/

/*.text-typing p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    align-items: center;
    font-weight: bold;
}
*/


/*#company-name {
    color: black;
    font-size: 24px;
    font-family: 'Playpen Sans', cursive;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1.5px;*/
    /*text-shadow: 0px 1px 0px black;*/
/*}*/




#menu {
    background-color: #ADD8E6; /*#ADD8E6*/
    overflow: hidden;
    text-align: center;
}
    #menu a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        height: auto;
        font-size: 18px;
        font-family: Asap;
        /*letter-spacing: 1.1px;*/
    }
        #menu a:hover {
            /*background-color: silver;*/
            color: #778899; /*chocolate, #778899*/
            height: auto;
            padding: 16px 16px;
        }

#content {
    padding: 20px;
}

#content p {
    margin-bottom: 20px;
}

#images img {
    margin: 10px;
    border-radius: 25%;
   
}

#footer {
    background-color: #ADD8E6;
    color: black;
    text-align: center;
    padding: 10px 0;
}
